name: Deploy production

on:
  release:
    types: [published]

jobs:
  deployment:
    concurrency: "production deployment"
    uses: ./.github/workflows/deployment.yaml
    with:
      environment: production
    secrets: inherit
